.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItemH2 {
  font-weight: bold;
  padding-right: 1rem;
  padding-left: 1rem;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.listItemText {
  display: flex;
  align-items: center;
}

.listItemBtn {
  margin-left: 3rem;
  border-radius: 30%;
  border: none;
  background-color: red;
  color: aliceblue;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}
